In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from pandas_profiling import ProfileReport
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge,Lasso,ElasticNet,RidgeCV,LassoCV,ElasticNetCV,LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sn
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [56]:
from sklearn.impute import SimpleImputer

In [117]:
try:
    df = pd.read_csv(r'E:\Academics\Data Science\Full Stack DataScience iNeuron\Machine learning\Linear Regression\University Admission Prediction\Admission_Prediction.csv',index_col=0)
except Exception as e:
    print(f"Exception Occred while loading Dataset {e}")

In [118]:
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
496,332.0,108.0,5.0,4.5,4.0,9.02,1,0.87
497,337.0,117.0,5.0,5.0,5.0,9.87,1,0.96
498,330.0,120.0,5.0,4.5,5.0,9.56,1,0.93
499,312.0,103.0,4.0,4.0,5.0,8.43,0,0.73
500,327.0,113.0,4.0,4.5,4.5,9.04,0,0.84

In [119]:
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA',
       'Research', 'Chance of Admit'],
      dtype='object')

In [120]:
df.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,485.000000,490.000000,485.000000,500.000000,500.00000,500.000000,500.000000,500.00000
mean,316.558763,107.187755,3.121649,3.374000,3.48400,8.576440,0.560000,0.72174
std,11.274704,6.112899,1.146160,0.991004,0.92545,0.604813,0.496884,0.14114
min,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000,0.34000
25%,308.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000,0.63000
50%,317.000000,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000,0.72000
75%,325.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000,0.82000
max,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000,0.97000

In [121]:
try:
    pf = ProfileReport(df)
    pf.to_widgets()
    pf.to_file('Pandas Profile University Admission Prediction.html')
except Exception as e:
    print(f"Error Occured while doing pandas profiling or saving file : {e}")

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=22.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render widgets'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [122]:
# Least correlation with Research column
# observation from heatmap of pandas profile report

In [123]:
# from profile report it's observed that GRE Score, TOEFL Score, University Rating has NAN (missing Values)

In [124]:
print("Count of Missing Values in each column")
print("Count Column")
for i in df.columns:
    print(df[i].isna().sum(),i)

Count of Missing Values in each column
Count Column
15 GRE Score
10 TOEFL Score
15 University Rating
0 SOP
0 LOR
0 CGPA
0 Research
0 Chance of Admit

In [125]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(df)
  
df_with_no_nan = imputer.transform(df)
df_with_no_nan = pd.DataFrame(df_with_no_nan,columns=df.columns)

print("Count of Missing Values in each column after applying imputer")
print("Count Column")
for i in df_with_no_nan.columns:
    print(df_with_no_nan[i].isna().sum(),i)

Count of Missing Values in each column after applying imputer
Count Column
0 GRE Score
0 TOEFL Score
0 University Rating
0 SOP
0 LOR
0 CGPA
0 Research
0 Chance of Admit

In [126]:
df_with_no_nan

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337.000000,118.0,4.0,4.5,4.5,9.65,1.0,0.92
1,324.000000,107.0,4.0,4.0,4.5,8.87,1.0,0.76
2,316.558763,104.0,3.0,3.0,3.5,8.00,1.0,0.72
3,322.000000,110.0,3.0,3.5,2.5,8.67,1.0,0.80
4,314.000000,103.0,2.0,2.0,3.0,8.21,0.0,0.65
...,...,...,...,...,...,...,...,...
495,332.000000,108.0,5.0,4.5,4.0,9.02,1.0,0.87
496,337.000000,117.0,5.0,5.0,5.0,9.87,1.0,0.96
497,330.000000,120.0,5.0,4.5,5.0,9.56,1.0,0.93
498,312.000000,103.0,4.0,4.0,5.0,8.43,0.0,0.73
499,327.000000,113.0,4.0,4.5,4.5,9.04,0.0,0.84

In [127]:
X = df_with_no_nan.iloc[:,:-1]
(X)

      GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
0    337.000000        118.0                4.0  4.5  4.5  9.65       1.0
1    324.000000        107.0                4.0  4.0  4.5  8.87       1.0
2    316.558763        104.0                3.0  3.0  3.5  8.00       1.0
3    322.000000        110.0                3.0  3.5  2.5  8.67       1.0
4    314.000000        103.0                2.0  2.0  3.0  8.21       0.0
..          ...          ...                ...  ...  ...   ...       ...
495  332.000000        108.0                5.0  4.5  4.0  9.02       1.0
496  337.000000        117.0                5.0  5.0  5.0  9.87       1.0
497  330.000000        120.0                5.0  4.5  5.0  9.56       1.0
498  312.000000        103.0                4.0  4.0  5.0  8.43       0.0
499  327.000000        113.0                4.0  4.5  4.5  9.04       0.0

[500 rows x 7 columns]

In [128]:
Y = df_with_no_nan[['Chance of Admit']]
(Y)

     Chance of Admit
0               0.92
1               0.76
2               0.72
3               0.80
4               0.65
..               ...
495             0.87
496             0.96
497             0.93
498             0.73
499             0.84

[500 rows x 1 columns]

In [129]:
df.columns[:-1]

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA',
       'Research'],
      dtype='object')

In [130]:
scaler = StandardScaler()
arr = scaler.fit_transform(X)
scaled_X = pd.DataFrame(arr,columns=df.columns[:-1])
scaled_X

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,1.842741e+00,1.788542,0.778906,1.137360,1.098944,1.776806,0.886405
1,6.708143e-01,-0.031058,0.778906,0.632315,1.098944,0.485859,0.886405
2,5.124333e-15,-0.527313,-0.107877,-0.377773,0.017306,-0.954043,0.886405
3,4.905178e-01,0.465197,-0.107877,0.127271,-1.064332,0.154847,0.886405
4,-2.306679e-01,-0.692731,-0.994659,-1.387862,-0.523513,-0.606480,-1.128152
...,...,...,...,...,...,...,...
495,1.392000e+00,0.134360,1.665688,1.137360,0.558125,0.734118,0.886405
496,1.842741e+00,1.623124,1.665688,1.642404,1.639763,2.140919,0.886405
497,1.211704e+00,2.119379,1.665688,1.137360,1.639763,1.627851,0.886405
498,-4.109644e-01,-0.692731,0.778906,0.632315,1.639763,-0.242367,-1.128152
499,9.412590e-01,0.961451,0.778906,1.137360,1.098944,0.767220,-1.128152

In [131]:
try:
    pf = ProfileReport(X)
    pf.to_widgets()
    pf.to_file('Pandas Profile on Scaled Data.html')
except Exception as e:
    print(f"Error Occured while doing pandas profiling or saving file : {e}")

C:\Users\chitt\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=20.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render widgets'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [132]:
# Loaded Dataset (df)
# Pandas Profiling
# Handeled Missing values (df_with_no_nan)
# divided to  X and Y
# scaled X and formed scaled_X
# train test split on X (X_train, X_test, y_train, y_test)
# train test split on scaled_X  (scaled_X_train, scaled_X_test, scaled_y_train, scaled_y_test)

In [133]:
#

In [134]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.15, random_state = 100)

In [135]:
scaled_X_train, scaled_X_test, scaled_y_train, scaled_y_test = train_test_split(scaled_X, Y, test_size = 0.15, random_state = 100)

In [136]:
X_train

      GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
341  326.000000        110.0                3.0  3.5  3.5  8.76       1.0
239  299.000000        100.0                1.0  1.5  2.0  7.89       0.0
263  324.000000        111.0                3.0  2.5  1.5  8.79       1.0
23   316.558763        119.0                5.0  5.0  4.5  9.70       1.0
425  323.000000        111.0                5.0  4.0  5.0  9.86       1.0
..          ...          ...                ...  ...  ...   ...       ...
343  305.000000        103.0                2.0  2.5  3.5  8.13       0.0
359  321.000000        107.0                2.0  2.0  1.5  8.44       0.0
323  305.000000        102.0                2.0  2.0  2.5  8.18       0.0
280  311.000000        102.0                3.0  4.5  4.0  8.64       1.0
8    302.000000        102.0                1.0  2.0  1.5  8.00       0.0

[425 rows x 7 columns]

In [137]:
scaled_X_train

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
341,8.511107e-01,0.465197,-0.107877,0.127271,0.017306,0.303803,0.886405
239,-1.582891e+00,-1.188986,-1.881441,-1.892906,-1.605151,-1.136099,-1.128152
263,6.708143e-01,0.630615,-0.107877,-0.882817,-2.145970,0.353455,0.886405
23,5.124333e-15,1.953960,1.665688,1.642404,1.098944,1.859559,0.886405
425,5.806661e-01,0.630615,1.665688,0.632315,1.639763,2.124369,0.886405
...,...,...,...,...,...,...,...
343,-1.042002e+00,-0.692731,-0.994659,-0.882817,0.017306,-0.738885,-1.128152
359,4.003696e-01,-0.031058,-0.994659,-1.387862,-2.145970,-0.225816,-1.128152
323,-1.042002e+00,-0.858149,-0.994659,-1.387862,-1.064332,-0.656132,-1.128152
280,-5.011126e-01,-0.858149,-0.107877,1.137360,0.558125,0.105196,0.886405
8,-1.312447e+00,-0.858149,-1.881441,-1.387862,-2.145970,-0.954043,-1.128152

In [138]:
try:
    from sklearn.linear_model import LinearRegression
    Linear = LinearRegression()
    Linear.fit(X_train,y_train)
    print(f"m/slope/: {Linear.coef_}")
    print(f"c/e/y_intercept{Linear.intercept_}")
except Exception as e:
    print(e)

m/slope/: [[ 0.00172445  0.00294458  0.00488292 -0.00025304  0.01994878  0.12006056
   0.02408062]]
c/e/y_intercept[-1.26825144]

In [139]:
Linear.score(X_test,y_test)

0.8420039560601401

In [140]:
try:
    from sklearn.linear_model import LinearRegression
    scaled_Linear = LinearRegression()
    scaled_Linear.fit(scaled_X_train,scaled_y_train)
    print(f"m/slope/: {scaled_Linear.coef_}")
    print(f"c/e/y_intercept{scaled_Linear.intercept_}")
except Exception as e:
    print(e)

m/slope/: [[ 0.01912905  0.01780082  0.00550634 -0.00025051  0.01844312  0.07254151
   0.01195331]]
c/e/y_intercept[0.72032891]

In [141]:
scaled_Linear.score(scaled_X_test,scaled_y_test)

0.8420039560601401

In [142]:
scaled_Linear.score(scaler.fit_transform(X_test),y_test)

0.8280293729210696

In [143]:
scaled_Linear.score(scaler.fit_transform(X_test),scaled_y_test)

0.8280293729210696

In [145]:
scaled_Linear.predict(scaler.fit_transform([[337.000000,118.0,4.0,4.5,4.5,9.65,1]]))

array([[0.72032891]])

In [ ]:
Linear.predict()

In [148]:
pickle.dump(Linear,open('University Admission Prediction Model file','wb'))

In [150]:
Model = pickle.load(open('University Admission Prediction Model file','rb'))

In [152]:
Model.score(X_test,y_test)

0.8420039560601401